:root {
    --primary-color: #377bc0;
    --secondary-color: #e74c3c;
    --accent-color: #3498db;
    --background-color: #ecf0f1;
    --text-color: #34495e;
    --light-text-color: #ffffff;
    --hover-color: #ffffff;
    --footer-color: #2c3e50;
}

/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.book_container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

/* Header styles */
header {
    background: var(--primary-color);
    color: var(--light-text-color);
    padding: 1rem 0;
    /* border-bottom: var(--secondary-color) 3px solid; */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: var(--light-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header .highlight, header .current a {
    color: var(--secondary-color);
    font-weight: bold;
}

header a:hover {
    color: var(--hover-color);
    font-weight: bold;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Main content styles */

main {
    flex: 1 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* h1, h2 {
    margin-bottom: 20px;
} */
h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 20px;
    text-align: center;
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--secondary-color);
    color: var(--light-text-color);
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: var(--accent-color);
}

.btn-secondary {
    background: var(--primary-color);
}

.btn-secondary:hover {
    background: var(--accent-color);
}

/* Form styles */
form {
    background: var(--light-text-color);
    padding: 20px;
    margin: 20px auto; /* Ensure margin is centered */
    width: 80%; /* Set the width of the form */
    max-width: 600px; /* Set a maximum width for the form */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="password"],
form input[type="email"],
form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.form-footer {
    margin-top: 10px;
    text-align: center;
}

#message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    max-width: 80%;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Footer styles */
footer {
    background: var(--primary-color);
    color: var(--light-text-color);
    text-align: center;
    padding: 20px 0;
    width: 100%;
}


/* Loader styles */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #e8491d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Responsive styles */
@media(max-width: 768px) {
    header nav {
        display: none;
    }

    header nav.active {
        display: block;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background: var(--primary-color);
        padding: 20px;
    }

    header nav.active ul {
        flex-direction: column;
    }

    header nav.active ul li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }
}

a, .btn {
    transition: all 0.3s ease;
}

